/* NAV BAR */

.topnav 
{
    background-color: #d8d8d8;
    overflow: hidden;
    font-family: serif;
}

.topnav a 
{
    float: left;
    color: #000000;
    text-align: center;
    padding: 1em 1.12em;
    text-decoration: none;
}
  
.topnav a:hover 
{
    text-decoration-line: underline;
}
  

.topnav a.active 
{
    background-color: #0099b4;
    color: white;
}

body
{
    background-color: rgb(255, 255, 255);
    padding: 1.25em;
}

h1
{
    color: black;
    text-align: left;
    font-family: serif;
}

p
{
    color: black;
    font-family: serif;
}

img
{
    max-width: 100%;
    min-width: auto;
    height: auto;
}

.q
{
    font-style: italic;
}

li
{
    color: black;
    font-family: serif;
}

pre{
    background-color: rgb(224, 224, 224);
}