#pg
{
    padding: 5px;
    max-width: 100%;
    min-width: auto;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    filter: grayscale(1) contrast(0) brightness(0);
}

#pg:hover
{
  cursor: pointer;
  filter: grayscale(1) contrast(0) brightness(1);
}

#engine{
  margin-top:0.5rem;
  display: inline-block;
}

.butoane
{
  display: inline-block;
}

.button
{
  background-color: #ffffff;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.button:hover 
{
  background-color: #c4c4c4;
  cursor: pointer;
}

.button:active {
  color: gray;
}

.pattern-col{
  margin-bottom: 1em;
  vertical-align:top;
  display: inline-block;
}

li
{
  color: black;
  font-family: serif;
}