body
{
    background-color: rgb(255, 255, 255);
    padding: 1.25em;
}

h1
{
    color: black;
    text-align: left;
    font-family: serif;
}

p
{
    
    color: black;
    font-family: serif;
}

img
{
    max-width: 100%;
    min-width: auto;
    height: auto;
}

.q
{
    font-style: italic;
}

li
{
    color: black;
    font-family: serif;
}

pre /*code*/
{
    background-color: rgb(224, 224, 224);
}