.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;

    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.album-img{
    width: 200px;
    height: 200px;
}

.album-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}   

.break {
    flex-basis: 100%;
    height: 0;
}

.container-review{
    display: flex;
    flex-direction: row;
    gap:2em;
}

.big-album img{
    max-width: 100%;
    height: auto;
    width: 400px; 
}

@media (max-width: 768px) {
    .container-review {
        flex-direction: column;
        text-align: center;
    }
}