@font-face { 
    font-family: 'ChordFont'; 
    src: 
        url('./MusFrets.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 

.chord
{
    font-family: 'ChordFont';
    font-size: 120px;
}

.chord_wrapper
{
    display: inline-block;
    margin-right: 50px;
}