.pg
{
  width: 24px;
  height: 24px;
  padding: 1em;
  
  height: auto;
  border: 2px solid rgb(113, 113, 113);
  filter: grayscale(1) contrast(1) brightness(1);
}

.pg:hover
{
  cursor: pointer;
  filter: grayscale(1) contrast(0) brightness(1);
}

#engine{
  margin-top:0.5rem;
  display: inline-block;
}

.butoane
{
  display: inline-block;
}

.button
{
  background-color:#000000;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.button:hover 
{
  background-color: #c4c4c4;
  cursor: pointer;
}

.button:active {
  color: gray;
}

.pattern-col{
  margin-bottom: 1em;
  vertical-align:top;
  display: inline-block;
}

