.slide-wrap{
    display: inline-flex;
}

.slide-container{
    display: flex;
    padding-left: 0.5rem;
}

.slider {
    text-align: center;
    background: #d3d3d3; /* Grey background */
}

#engine{
    padding-bottom: 1rem;
}